.container {
  width: 100%;
  position: relative;
  color: var(--nav-text);
  text-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.container > span:hover {
  cursor: pointer;
  /* }

.options {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 90%;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;

  background: var(--footer-color);

}

.options header {
  padding: 1.5rem;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options header span img {
  height: 36px;
}

.options a {
  padding: 1.5rem; */
}
